
@import "../../style.scss";

.rightbar {
    @include themify($themes) {
        flex: 3;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
    background-color: themed("bgSoft");



         &::-webkit-scrollbar {
            display: none;
        }

        .container {
            padding: 20px;

            .item {
                box-shadow: 0px 0px 3.61212px 1.80606px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 20px;
                background-color: themed("bg");



                span {
                    color: rgb(68, 73, 77);

                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0;



                    .userInfo {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        position: relative;

                        img {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            object-fit: cover;

                        }

                        .online {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: limegreen;
                            position: absolute;
                            top: 0;
                            left: 30px
                        }

                        p {
                            color:themed ("textColorSoft");
                        }

                        span {
                            font-weight: 500;
                            color:themed ("textColor");

                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        button {
                            border-radius: 5px;
                            border: none;
                            padding: 5px;

                            color: white;
                            cursor: pointer;

                            &:first-child {
                                background-color: rgb(57, 95, 128);
                            }

                            &:last-child {
                                background-color: red;
                            }
                        }


                    }
                }
            }
        }
    }
}